@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-size: inherit;
       font-family: 'poppins', sans-serif;
      

}

html {
       font-size: 55.5%;
       background-image: linear-gradient(to right, black, rgb(3, 3, 28), rgb(3, 3, 28), black);
       overflow-x: hidden;
}

:root {
       --text-color: #fff;
       --buttons-color: #DB4444;
       --green: #00953c;
       --text-second-color: rgb(174, 172, 172);
       --star-color: #FFAD33;
       --star-dark-color: #8D8D8D;
       --blue-color: #326994;
       --Circle-color: #817D7D;
       --blue: #5557d1;

       --bg-color: #09031B;
       --sec-bg-color: #344162;
       --text-color: #ffffff;
       --white: #fdfdfd;
       --sub-color: #e4d4f9;

}

.all {
       width: 100vw;
       height: 100vh;
 

       font-family: 'Times New Roman', Times, serif;
       animation: transitionIN 1s;


}
.contact {
       min-height: auto;
       padding-bottom: 7rem;

}

.contact form {
       max-width: 60rem;
       margin: 0 auto;
       text-align: center;
}

.contact form .input-box {
       position: relative;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;

}

.contact form .input-box .input-field {
       position: relative;
       width: 49%;
       margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
       width: 100%;
       height: 100%;
       padding: 1.5rem;
       font-size: 1.6rem;
       color: var(--sub-color);
       background: transparent;
       border-radius: 0.6rem;
       border: 0.2rem solid var(--text-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
       color: var(--sub-color);
}

.contact form .focus {
       position: absolute;
       top: 0;
       left: 0;
       width: 0;
       height: 100%;
       background: #4e60707d;
       border-radius: 0.6rem;
       z-index: -1;
       transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
       width: 100%;
}

.contact form .textarea-field {
       position: relative;
       margin: 0.8rem 0 2.7rem;
       display: flex;
}
.btn-box {
       position: relative;
       display: flex;
       justify-content: space-between;
       width: 34.5rem;
       height: 5rem;

}

.btn-box .btn {
       position: relative;
       display: flex;
       justify-content: center;
       padding-top: 3%;
       width: 15rem;
       height: 100%;
       background-color: var(--sub-color);
       border: 0.2rem solid var(--sub-color);
       border-radius: 0.8rem;
       font-size: 2rem;
       font-weight: 600;
       letter-spacing: 0.1rem;
       color: var(--bg-color);
       z-index: 1;
       overflow: hidden;
}


.btn-box .btn::before {
       content: ' ';
       position: absolute;
       top: 0;
       left: 0;
       width: 0;
       height: 100%;
       background: #87a7f3;
       z-index: -1;
       transition: 0.5s;
}

.btn-box .btn:hover::before {
       width: 100%;
}
.btn-box.btns {
       display: inline-block;
       width: 15rem;


}

.btn-box.btns a ::before {
       background: var(--sec-bg-color);
}

.contact form .btn-box.btns .btn {
       cursor: pointer;
}


.bb
{
  width: 100vw;
  display: flex;
  justify-content: center;

}
.home-nav {

       display: flex;
       padding: 1rem;
       justify-content: space-around;
       font-size: 1.5rem;
       position: relative;
       top: 1.5rem;
       font-weight: 800;
       margin-bottom: 5rem;

}

.i {
       margin-right: 1rem;
       text-decoration: none;
       color: var(--text-color);
       transition: all 0.5s;
       font-weight: 800;

}

h2 {
       color: var(--text-color);
}

.home-nav h2 {
       font-size: 2rem;
}

.i:hover {
       color: var(--buttons-color);
}


.input input {
       border: none;
       outline: none;
       font-size: 1.25rem;
       width: 22rem;
       height: 3rem;
       border-radius: 2rem;
       color: var(--text-second-color);
       text-align: center;

}

.container {
       width: 100vw;
       height: 100vh;
       position: absolute;
       display: flex;
       overflow: hidden;
       z-index: -1;

}

.bubbles {
       position: relative;
       display: flex;
}

.bubbles span {
       position: relative;
       width: 3rem;
       height: 3rem;
       background-color: #4fc3dc;
       margin: 0 0.4rem;
       border-radius: 50%;
       box-shadow: 0 0 0 1rem #4fc3dc44, 0 0 5rem #4fc3dc, 0 0 10rem #4fc3dc;
       animation: animate ease-in infinite;
       animation-duration: calc(250s/var(--i));




}

.bubbles span:nth-child(even) {
       background-color: #ff2d75;
       box-shadow: 0 0 0 1rem #ff2d7544, 0 0 5rem #ff2d75,
              0 0 10rem #ff2d75;
}

footer {
       background-color: black;
       width: 100vw;
       height: 20vh;
}
@keyframes transitionIN {
       from {
              opacity: 0;
              transform: scale(1.2);


       }

       to {
              opacity: 1;
              transform: scale(1);
       }
}

@keyframes animate {
       0% {
              opacity: 0.1;
              transform: translateY(200vh) scale(0);
       }

       100% {
              opacity: 0.1;
              transform: translateY(-10vh) scale(1);

       }

}

 @media(max-width:520px) {

        html {
              font-size: 50%;
        }

        

        .home-content h1 {
               display: flex;
               flex-direction: column;
        }

        .home-sci {
               width: 160px;
        }

        .home-sci a {
               width: 38px;
               height: 38px;

        }
        .links
        {
              font-size: 1.7rem;
        }
               footer
               {
                     height: 25rem;
               }






 }
 @media(max-width:768px) {
        .header {
               background: var(--bg-color);
        }

        #menu-icon {
               position: absolute;
               left: 85%;
               display: block;



        }
        .input
        {
              display: none;
        }
           
       

        .navbar {
               position: absolute;
               top: 100%;
               left: -100%;
               width: 100%;
               padding: 1rem 4%;
               background-color: #131218;
               box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
               transition: 0.25s ease;
               transition-delay: 0.25s;

        }

        .active.active {
               transition-delay: 0s;
               left: 0;
        }

        .navbar a {
               display: block;
               font-size: 2rem;
               margin: 3rem 0;
        }

        .home-imghover {
               pointer-events: none;
               background: var(--bg-color);
               opacity: 0.6;

        }
       

               .contact form .input-box .input-field input,
               .contact form .textarea-field textarea {
                      width: 100%;
                      height: 100%;
                      padding: 1.5rem;
                      font-size: 1.6rem;
                      color: var(--sub-color);
                      background: transparent;
                      border-radius: 0.6rem;
                      border: 0.2rem solid var(--text-color);
                     
               }
}
